.attendance-list {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 32px;
}

.attendance-table {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    margin-top: 40px;
}

.attendance-table th,
.attendance-table td {
    padding-top: 6px;
    padding-bottom: 0;
}

.attendance-table th {
    padding-left: 50px;
    padding-right: 50px;
    color: gray;
    transform: translateY(-5px);
    text-align: left;
}

.attendance-table td {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
}

.table-row {
    height: 76px;
    border-top: 1px solid gainsboro;
}

.table-row--note {
    border-top: 1px solid gainsboro;
    height: 116px;
}

.detail-name-row,
.detail-inline-row,
.detail-field {
    width: 280px;
}

.detail-inline-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail-date-text {
    width: 80px;
    text-align: center;
}

.detail-time-separator {
    width: 20px;
    text-align: center;
    flex-shrink: 0;
}

.detail-input,
.detail-textarea {
    width: 100%;
    border: 1px solid gainsboro;
    border-radius: 4px;
    padding: 4px 10px;
    font-size: 16px;
    background-color: #fff;
    border: none;
}


.note-col .detail-field {
    display: flex;
    justify-content: center;
    padding-top: 0;
}


.note-col .detail-textarea {
    min-height: auto;
    padding-top: 0;
    padding-bottom: 0;
    resize: none;
}

.detail-textarea {
    display: block;
    min-height: 80px;
    resize: vertical;
}

.detail-input {
    width: 80px;
    text-align: center;
    font-size: 20px;
}

/*　時計アイコンを表示しない　*/
.detail-input::-webkit-calendar-picker-indicator {
    display: none;
}

.detail-field {
    display: grid;
    height: 100%;
    padding-top: 6px;
}


.validate-error {
    min-height: 1.2em;
    font-size: 12px;
    line-height: 1.2;
    color: red;
}

.approved-item {
    display: flex;
    justify-content: right;
}

.isPending .detail-button {
    width: 100px;
    margin: 24px 0 0 auto;
    padding: 10px 6px;
    border: none;
    border-radius: 4px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.detail-button {
    width: 100px;
    margin: 24px 0 0 auto;
    padding: 10px 6px;
    letter-spacing: 4px;
    border: none;
    border-radius: 4px;
    background-color: gray;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.detail-pending-text {
    margin: 24px 0 0 auto;
    color: #d32f2f;
    font-size: 14px;
    font-weight: 700;
    text-align: right;
}




/* ========== ここから下はタブレット用 ==========*/
@media screen and (min-width:768px) and (max-width:850px) {

    .attendance-list {
        max-width: 700px;
    }

    .detail-button {
        width: 100px;
    }

}