.attendance-list {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 32px;
}

.month-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    padding: 0 20px;
}

.month-link {
    text-decoration: none;
    color: gray;
}

.month-current {
    font-weight: bold;
}

.attendance-table {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    margin-top: 40px;
}

.attendance-table th:first-child,
.attendance-table td:first-child {
    text-align: left;
}

.attendance-table th,
.attendance-table td {
    text-align: center;
    padding: 8px 30px;
    color: gray;
}

.table-title {
    border-bottom: 2px solid gainsboro;
}

.table-row {
    border-top: 1px solid gainsboro;
}

.export-button {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 900px;
    margin: 4px auto;
    padding-bottom: 30px;
}


.export-link {
    color: white;
    font-weight: 700;
    text-decoration: none;
    background-color: #000;
    padding: 8px 24px;
    border-radius: 8px;
}

/* ========== ここから下はタブレット用 ==========*/
@media screen and (min-width:768px) and (max-width:850px) {

    .attendance-list {
        max-width: 660px;
    }

    .attendance-table th,
    .attendance-table td {
        font-size: 14px;
    }

    .export-link {
        font-size: 14px;
        padding: 6px 20px;
    }

    .export-button {
        max-width: 660ox;
    }

}
