.header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 15px;
}


.header-inner--right {
    font-size: 20px;
}


/*　-----　ヘッダー右側のナビ部分 -----*/

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-nav--admin {
    width: 600px;
}

.header-nav--user {
    width: 400px;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* ========== ここから下はタブレット用 ==========*/
@media screen and (min-width:768px) and (max-width:850px){

    .header-logo {
        width: 80%;
    }

    .header-nav--admin {
        width: 400px;
    }

    .header-nav--user {
        width: 300px;
    }

    .header-inner--right,
    .nav-button {
        font-size: 18px;
    }

}
